@model FINALL.Models.RequestStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RequestStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendingNote.CID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendingNote.CID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RqID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
